.values {
    border: 1px solid grey;
    display: none;
}

.search {
    border: black solid 2px;
    color: black;
    padding: 5px;
}

.container {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
}

.container_search_panel {
 width: 92%;
 margin-left: 4%;
 padding-top: 30px;
}

.values {
    overflow: scroll;
}
.values::-webkit-scrollbar { width: 0; }

.addedIds {
    border: #E5E5E5 solid 1px;
}

.buttonsSet {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.buttonsSet button {
    background-color: #E5F0FA;
    border: none;
    border-radius: 2px;
    color: #777777;
}

.selectedItem {
    background-color: grey;
}