.values {
    display: none;
    overflow: hidden;
    background-color: #E5F0FA;
}

.search {
    color: black;
    padding: 5px;
}

.container {
    height: 500px;
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
}

.container_search_panel {
 width: 92%;
 margin-left: 4%;
 padding-top: 30px;
}

.values::-webkit-scrollbar { width: 0; }

.addedIds {
    border: #E5E5E5 solid 1px;
}

.buttonsSet {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.buttonsSet button {
    background-color: #E5F0FA;
    border: none;
    border-radius: 2px;
    color: #777777;
}

.selectedItem {
    background-color: grey;
}

.addedItems {
    width: 90%;
    margin: 0 5%;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
}
.item {
    background-color: #E5F0FA;
    color: #777777;
    margin: 0 5px;
    width: 80px;
    overflow: hidden;
}